<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Mua ngay</button> 
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item" style="width: 18rem;">
                    <img src="{{books.image}}" class="card-img-top" alt="Card Image cap">      
                <div class="card-body">
                        <h5 class="card-title">{{books.name}}</h5>
                        <h5 class="card-title">{{books.price}}</h5>
                    <p class="card-text">{{books.description}}</p>
                </div>
            </div>      
        </div>
    </div>
</div>